*{
	box-sizing: border-box;
}

.Root-container {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.Header-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100px;
  z-index: 20;
  background-color: #dddddd;
}

.Header-frame {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.Queue-logo {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 120px;
}

.Header-title{
  position: absolute;
  left: 200px;
  top: 20px;
}

.Main-frame{
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0;
  bottom: 0;
}

.Scroll-container{
	overflow-y: scroll;
	width: 100%;
  -ms-overflow-style: none;   
  scrollbar-width: none;   
  margin: 10px;
}

.Scroll-container::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}


.Table {
	word-wrap: break-word;
	word-break: break-all;
  border-collapse: collapse;
}

.Table.queue{
	table-layout: fixed;
	width: 100%;
	max-width: 100%;

}

.Table-item:hover{
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 2px 2px 2px 2px;
}

.Table-cell{
	font-size: small;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: start;
}

.Counter-container{
  position: relative;
  width: 100%;
}

.Counter-msg{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
}

.Counter-value{
  font-weight: 600;
  font-size: 5em;
}
.Counter-status{
  font-weight: 600;
  font-size: 2em;
  margin: 20px;
}

.Button.cancel{
  margin: 20px;
  width: 150px;
  height: 50px;
  font-size: 1em;
}

.Table.position{
  table-layout: auto;
  margin: auto;
  margin-bottom: 10px;
}

.Queue-details{
  height: 40px;
  text-align: start;
}

.Party{
  margin-top: 50px;
  width: 200px;
}