*{
	box-sizing: border-box;
}

.Root-container {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.Header-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100px;
  z-index: 20;
  background-color: #dddddd;
}

.Header-frame {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.Queue-logo {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 120px;
}

.Header-title{
  position: absolute;
  left: 180px;
  top: 50px;
}

.Content-container{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
}

.Main-frame{
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 100%;
  min-height: 100%;
  margin: auto;
}

.Scroll-container{
	overflow-y: scroll;
	width: auto;
  -ms-overflow-style: none;   
  scrollbar-width: none;   
  margin: 10px;
}

.Scroll-container::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}


.Table {
	word-wrap: break-word;
	word-break: break-all;
  border-collapse: collapse;
}

.Table.queue{
	table-layout: fixed;
	width: 100%;
	max-width: 100%;

}

.Table-header{
  height: 30px;
  padding: 3px;
}

.Table-item:hover{
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 2px 2px 2px 2px;
}

.Table-cell{
	font-size: small;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}


.Table-cell.action{
	overflow: visible;
}

.Counter-container{
  position: relative;
  width: 100%;
}

.Counter-msg{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
}

.Counter-value{
  font-weight: 600;
  font-size: 5em;
}
.Counter-status{
  font-weight: 600;
  font-size: 2em;
  margin: 20px;
}

.Button.cancel{
  margin: 20px;
  width: 150px;
  height: 50px;
  font-size: 1em;
}

.Button.join{
  margin: 20px;
  width: 100px;
  height: 40px;
  font-size: 1em;
}

.Button.sync{
  background-color: rgb(168, 167, 167);
  width: 50px;
  height: 50px;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 25px;
  z-index: 10;
}

.Button.add{
  background-color: rgb(168, 167, 167);
  width: 60px;
  height: 60px;
  padding: 5px;
  position: absolute;
  bottom: 40px;
  right: 20px;
  border-radius: 30px;
  z-index: 10;
}


.Button:hover{
	background-color: gray;
}

.Table.position{
  table-layout: auto;
  margin: auto;
  margin-bottom: 10px;
}

.Queue-details{
  height: 40px;
  text-align: start;
}

.Party{
  margin-top: 50px;
  width: 200px;
}

.Button.create{
  
  margin: 20px;
  width: 100px;
  height: 40px;
  font-size: 1em;
}

.Input-text.queue-name{
  width: 250px;
}

.Input-text.description{
  width: 250px;
  height: 100px;
}

.Table.entry{
  table-layout: auto;
  width: 100%;
}

.Button.remove{
  margin: 40px;
  width: 150px;
  height: 30px;
}

.Table-cell.wait-status{
  text-align: center;
}

.Status-entry{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
.Status-entry.done{
  background-color: green;
}
.Status-entry.wait{
  background-color: red;
}

.Account-container{
  width: 260px;
  height: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 30;
  overflow: auto;
}

.Account-frame{
  height: 40px;
  width: 80px;
  float: left;
}
.Account-name{
  width: 180px;
  height: 40px;
  padding-top: 10px;
  padding-right: 5px;
  text-align: end;
  font-size: small;
	overflow: hidden;
	text-overflow: ellipsis;
  float: left;
}
.Img.account{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-top: 5px;
}
.Button.sign-out{
  width: 30px;
  height: 30px;
  padding: 4px;
  background-color: white;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;

}

.Button.sign-out:hover{
	background-color: rgb(184, 184, 184);
}

.Queue-form{
  background-color: rgba(240, 240, 240, 0.9);
  border-radius: 2px;
  stroke: black;
  stroke-width: 2px;
  position: relative;
  box-shadow: 2px,2px,black;
  padding: 5px;
}

.Form-container{
  z-index: 30;
  position: absolute;
  top: 30px;
  left: 10px;
  right: 10px;
}

.Form-cancel{
  position: absolute;
  top: -2px;
  right: -2px;
  font-size: 1.2em;
  font-weight: 900;
  color: white;
  background-color: grey;
  width: 48px;
  height: 30px;
  border-radius: 6px;
  z-index: 35;
}

.QR-canvas{
  width: 200px;
  height: 200px;
}


.Button.qr{
  background-color: rgb(168, 167, 167);
  width: 50px;
  height: 50px;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  z-index: 10;
}